
[*.{c,c++,cc,cp,cpp,cu,cuh,cxx,h,hh,hpp,hxx,inc,inl,ino,ipp,mpp,proto,tpp}]
indent_style=tab
indent_size=tab
tab_width=4

[*.{asax,ascx,aspx,cs,cshtml,css,htm,html,js,jsx,master,razor,skin,ts,tsx,vb,xaml,xamlx,xoml}]
indent_style=space
indent_size=4
tab_width=4

[*.{appxmanifest,build,config,csproj,dbml,discomap,dtd,json,jsproj,lsproj,njsproj,nuspec,proj,props,resjson,resw,resx,StyleCop,targets,tasks,vbproj,xml,xsd}]
indent_style=space
indent_size=2
tab_width=2

[*]

# Microsoft .NET properties
csharp_new_line_before_catch=false
csharp_new_line_before_finally=false
csharp_new_line_before_open_brace=types,local_functions,methods,anonymous_methods,lambdas,accessors,control_blocks,anonymous_types,object_collection_array_initalizers,control_blocks
csharp_preferred_modifier_order=public, private, protected, internal, new, abstract, virtual, sealed, override, static, readonly, extern, unsafe, volatile, async:suggestion
csharp_space_after_cast=false
csharp_space_after_keywords_in_control_flow_statements=false
csharp_space_before_colon_in_inheritance_clause=false
csharp_style_var_elsewhere=true:hint
csharp_style_var_for_built_in_types=true:hint
csharp_style_var_when_type_is_apparent=true:hint
dotnet_style_predefined_type_for_locals_parameters_members=true:hint
dotnet_style_predefined_type_for_member_access=true:hint
dotnet_style_qualification_for_event=false:warning
dotnet_style_qualification_for_field=false:warning
dotnet_style_qualification_for_method=false:warning
dotnet_style_qualification_for_property=false:warning
dotnet_style_require_accessibility_modifiers=for_non_interface_members:hint

# ReSharper properties
resharper_accessor_owner_declaration_braces=end_of_line
resharper_align_linq_query=true
resharper_align_multiline_argument=true
resharper_align_multiline_calls_chain=true
resharper_align_multiline_extends_list=true
resharper_align_multline_type_parameter_constrains=true
resharper_align_multline_type_parameter_list=true
resharper_apply_on_completion=true
resharper_csharp_alignment_tab_fill_style=optimal_fill
resharper_csharp_align_multiline_parameter=true
resharper_csharp_align_multiple_declaration=true
resharper_csharp_anonymous_method_declaration_braces=next_line_shifted_2
resharper_csharp_empty_block_style=together_same_line
resharper_csharp_indent_invocation_pars=outside
resharper_csharp_indent_method_decl_pars=outside
resharper_csharp_insert_final_newline=true
resharper_csharp_keep_blank_lines_in_code=1
resharper_csharp_keep_blank_lines_in_declarations=1
resharper_csharp_outdent_commas=true
resharper_csharp_outdent_dots=true
resharper_csharp_space_before_type_parameter_constraint_colon=false
resharper_csharp_special_else_if_treatment=false
resharper_csharp_stick_comment=false
resharper_csharp_wrap_after_declaration_lpar=true
resharper_csharp_wrap_chained_method_calls=chop_if_long
resharper_csharp_wrap_multiple_declaration_style=wrap_if_long
resharper_indent_nested_fixed_stmt=true
resharper_indent_nested_foreach_stmt=true
resharper_indent_nested_for_stmt=true
resharper_indent_nested_lock_stmt=true
resharper_indent_nested_usings_stmt=true
resharper_indent_nested_while_stmt=true
resharper_indent_preprocessor_if=outdent
resharper_indent_preprocessor_other=outdent
resharper_indent_preprocessor_region=outdent
resharper_initializer_braces=next_line_shifted_2
resharper_keep_existing_declaration_parens_arrangement=false
resharper_keep_existing_expr_member_arrangement=false
resharper_keep_existing_initializer_arrangement=false
resharper_keep_existing_invocation_parens_arrangement=false
resharper_max_enum_members_on_line=5
resharper_max_formal_parameters_on_line=20
resharper_max_initializer_elements_on_line=5
resharper_nested_ternary_style=expanded
resharper_new_line_before_finally=false
resharper_place_attribute_on_same_line=False
resharper_place_constructor_initializer_on_same_line=false
resharper_place_simple_accessorholder_on_single_line=true
resharper_place_simple_enum_on_single_line=true
resharper_place_simple_method_on_single_line=true
resharper_space_after_cast=false
resharper_space_before_singleline_accessorholder=false
resharper_space_within_single_line_array_initializer_braces=true
resharper_wrap_chained_binary_expressions=chop_if_long
resharper_wrap_enum_declaration=chop_if_long

# ReSharper inspection severities
resharper_check_namespace_highlighting=hint
resharper_compare_non_constrained_generic_with_null_highlighting=warning
resharper_css_not_resolved_highlighting=hint
resharper_inconsistent_naming_highlighting=hint
resharper_not_accessed_field_local_highlighting=suggestion
resharper_redundant_units_highlighting=suggestion
resharper_redundant_using_directive_highlighting=hint
resharper_unknown_css_class_highlighting=suggestion
resharper_unused_member_local_highlighting=hint
resharper_unused_parameter_local_highlighting=hint
