name: Publish to NuGet
on:
  push:
    branches:
      - master # Default release branch
      - release/**
      
    
jobs:
  publish:
    name: build, pack & publish
    runs-on: ubuntu-latest
   # env:
     # NBGV_GitEngine: LibGit2
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
          
      - name: Setup .NET
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 6.x.x
          
      - uses: dotnet/nbgv@master
        with:
          setAllVars: true

      # Publish
      - name: publish on version change
        id: publish_nuget
        uses: alirezanet/publish-nuget@v3.0.0
        with:
          # Filepath of the project to be packaged, relative to root of repository
          PROJECT_FILE_PATH: ./TGBotFramework/BotFramework/BotFramework.csproj
          
          # NuGet package id, used for version detection & defaults to project name
          PACKAGE_NAME: AleXr64.BotFramework
          
          # Filepath with version info, relative to root of repository & defaults to PROJECT_FILE_PATH
          # VERSION_FILE_PATH: Directory.Build.props

          # Regex pattern to extract version info in a capturing group
          # VERSION_REGEX: ^\s*<Version>(.*)<\/Version>\s*$
          
          # Useful with external providers like Nerdbank.GitVersioning, ignores VERSION_FILE_PATH & VERSION_REGEX
          VERSION_STATIC: ${{env.NBGV_SemVer2}}

          # Flag to toggle git tagging, enabled by default
          TAG_COMMIT: false

          # Format of the git tag, [*] gets replaced with actual version
          # TAG_FORMAT: v*

          # API key to authenticate with NuGet server
          NUGET_KEY: ${{secrets.NugetAPIKey}}
